<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-1155/678 w-144.5 max-w-none -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Ivotoeran'ny Maherifo</h2>
        <p class="mt-2 text-lg/8 text-gray-600">Ivotoerana iray ahafahan'ny Fanilo sy ireo mpiara-miasa, mpiara-miombon'antoka, ray aman-dreny ary Fiarahamonina,
            mitady fihainoana rehefa ilaina izany; mampahafantatra na mitoroka izay zava-mitranga any aminy manoloana ireo tsy rariny, tsindry hazo lena ary herisetra isan-karazany.
            Manoro lalana raha misy ny dingana arahina, ary manohana ireo niharan'ny herisetra.
        </p>
    </div>
    <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

            <div>
                <label for="genre" class="block text-sm/6 font-semibold text-gray-900">Lahy/Vavy</label>
                <div class="mt-2.5">
                    <select id="genre" name="genre" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Safidio ny Lahy/Vavy</option>
                        <option value="male">Lahy</option>
                        <option value="female">Vavy</option>
                        <option value="not-specified">Tsy ambara</option>
                    </select>
                </div>
            </div>

            <div>
                <label for="age" class="block text-sm/6 font-semibold text-gray-900">Taona</label>
                <div class="mt-2.5">
                    <input type="number" name="age" id="age" autocomplete="off" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" min="0" max="120">
                </div>
            </div>

            <div class="sm:col-span-2">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-3"> <div>
                        <label for="faritra" class="block text-sm/6 font-semibold text-gray-900">Faritra</label>
                        <div class="mt-2.5">
                            <input type="text" name="faritra" id="faritra" autocomplete="address-level1" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                    <div>
                        <label for="fivondronana" class="block text-sm/6 font-semibold text-gray-900">Fivondronana</label>
                        <div class="mt-2.5">
                            <input type="text" name="fivondronana" id="fivondronana" autocomplete="address-level2" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                    <div>
                        <label for="diosezy" class="block text-sm/6 font-semibold text-gray-900">Diosezy</label>
                        <div class="mt-2.5">
                            <input type="text" name="diosezy" id="diosezy" autocomplete="off" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sm:col-span-2"> <label for="fait" class="block text-sm/6 font-semibold text-gray-900">Antony</label>
                <div class="mt-2.5">
                    <select id="fait" name="fait" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Safidio ny antony</option>
                        <option value="fampahafantarana">Fampahafantarana</option>
                        <option value="fitorohana">Fitorohana</option>
                        <option value="fitoriana">Fitoriana</option>
                    </select>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="message" class="block text-sm/6 font-semibold text-gray-900">Zava-nitranga</label>
                <div class="mt-2.5">
                    <textarea name="message" id="message" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="remarks" class="block text-sm/6 font-semibold text-gray-900">Fanamarihana</label>
                <div class="mt-2.5">
                    <textarea name="remarks" id="remarks" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                </div>
            </div>

        </div>
        <div class="mt-10">
            <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Alefa</button>
        </div>
    </form>
</div>
