<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-10 lg:overflow-visible lg:px-0">
<div class="absolute inset-0 -z-10 overflow-hidden">
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
        <div class="lg:max-w-lg">
            <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Tantara</h1>
            <p class="mt-6 text-xl/8 text-gray-700">Ny 04 Febroary 1942 no nisiany voalohany teto Madagasikara ary "Guides de France" no anarana nentiny tamin'izany,
                rehefa nahazo fahaleovan-tena anefa isika tamin'ny 1960 dia lasa hoe "FANILON'I MADAGASIKARA" (FIM).
            </p>
        </div>
        </div>
    </div>
    <div class="-mt-12 -ml-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="tantara.webp" alt="">
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
        <div class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
            <p>Fikambanana mijoro manerana an'i Madagasikara ny Fanilo, fehezin'ny hitsivolan-dalàna laharana 60.133 tamin'ny 03 Oktobra 1960.
            <br>
            <br>
            Mpikambana ao amin'ny "Firaisan'ny Skotisma Malagasy" (FSM) sy "Skotisma Zazavavy Malagasy" (SZM) ary anisan'ny mpikambana ao amin'ny "Association Mondiale des Guides et des Eclaireuses" (AMGE) tamin'ny volana Jona 1963.
            <br>
            <br>
            Mpikambana ao amin'ny "Conférence Internationale Catholique du Guidisme".
            </p>
            <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
                <span><strong class="font-semibold text-gray-900">Firotsahana: </strong> Fikambanana skotisma zazavavy katolika, manabe sy mikolokolo tovovavy Kristianina Katolika, salama, vanona, azo itokisana.
                Ka afaka mibe tena, saina, vatana, fanahy amin'ny maha olom-pirenena tompon'andraikitra azy eo amin'ny ankohonana, fiangonana, firenena ary fianakaviam-be iraisam-pirenena.</span>
            </li>
            <li class="flex gap-x-3">
                <span><strong class="font-semibold text-gray-900">Ny Olomasina Mpiaro: </strong> Md Georges </span>
            </li>
            <li class="flex gap-x-3">
                <span><strong class="font-semibold text-gray-900">Ireo Diosezy misy FIM: </strong><br> - Arsidiosezy Avaratra: Antsiranana, Ambanja, Mahajanga, Port-Bergé
                <br>- Arsidiosezy Atsinanana: Fenoarivo Atsinanana, Toamasina, Moramanga, Ambatondrazaka<br>- Arsidiosezy Afovoany: Antananarivo, Miarinarivo, Tsiroanomandidy, Maintirano, Antsirabe<br>- Arsidiosezy Atsimo Atsinanana: Ambositra, Fianarantsoa, Ihosy, Farafangana, Mananjary<br> - Arsidiosezy Atsimo Andrefana: Toliara, Morombe, Morondava, Tolagnaro</span>
            </li>
            </ul>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="section-vision" class="bg-white py-24 sm:py-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">Antom-pisiana</p>
        <p class="mt-6 text-lg/8 text-gray-600">Ny Fanilon'I Madagasikara dia manana:</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
            Vina
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">Tontolo mamiratra ho an'ny ankizivavy sy ny tovovavy ahafahany mampivoatra ny tenany sy ny hafa.</dd>
        </div>
        <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
            Iraka
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">Manabe zazavavy ho olom-banona, matoky an'Andriamanitra, mandray andraikitra ary afaka manatsara ny tontolo.</dd>
        </div>
        <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
            Lohahevitra iainana
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">"Miara-dalana, miara-tody lavitra ho an'ny ankizivavy sy ny tontolony"</dd>
        </div>
        <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
            Tenin'Andriamanitra iainana
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">"Ny  Tompo momba anao" Md Lk 1, 28d</dd>
        </div>
        </dl>
    </div>
    </div>
</section>

<section id="section-image" class="bg-white py-24 sm:py-10">
    <div id="gallery" class="relative w-full">
        <div class="relative h-56 overflow-hidden md:h-96">
            <img src="sectionimage.webp" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
    </div>
</section>
